{% if notificationList|length > 0 %}
  <ul class="dropdown-menu dropdown-menu-media dropdown-menu-end">
    <li class="dropdown-menu-header">
      <div class="dropdown-header d-flex">
        <h4 class="notification-title mb-0 me-auto">Notifications</h4>
        {% if mgilet_notification_unseen_count(app.user) > 0 %}
          <div class="badge rounded-pill badge-light-primary"><span class="unread-notifications-count">{{ mgilet_notification_unseen_count(app.user) }}</span> New</div>
        {% endif %}
      </div>
    </li>
    <li class="scrollable-container media-list notification-list">
      {% for item in notificationList %}
        <div class="list-item d-flex align-items-start notification-row" data-navigation="{{ item.notification.link }}">
          <div class="list-item-body flex-grow-1">
            <p class="media-heading"><span class="fw-bolder">{{ item.notification.subject }}</span></p>
            <small class="notification-text">{{ item.notification.message }}</small>
          </div>
          <a class="align-self-center anchor-async-seen {{ (item.seen) ? "hidden": "" }}"
             href="javascript:void(0)"
             data-target="{{ mgilet_notification_generate_path('notification_mark_as_seen', item.notifiableEntity, item.notification) }}">
            <i class="fa fa-eye" aria-hidden="true"></i>
          </a>
          <a class="align-self-center anchor-async-unseen {{ (not item.seen) ? "hidden": "" }}"
             href="javascript:void(0)"
             data-target="{{ mgilet_notification_generate_path('notification_mark_as_unseen', item.notifiableEntity, item.notification) }}">
            <i class='fa fa-eye-slash' aria-hidden="true"></i>
          </a>
        </div>
      {% endfor %}
    </li>
    <li class="dropdown-menu-footer">
      <a class="btn btn-primary w-100 read-all-notifications-anchor"
         href="javascript:void(0)"
         data-target="{{ mgilet_notification_generate_path('notification_mark_all_as_seen', notificationList|first.notifiableEntity) }}">
        Read all notifications
      </a>
    </li>
  </ul>
{% else %}
  <ul class="dropdown-menu dropdown-menu-media dropdown-menu-end">
    <li class="dropdown-menu-header">
      <div class="dropdown-header d-flex">
        <h4 class="notification-title mb-0 me-auto">It's quiet here..</h4>
      </div>
    </li>
    <li class="scrollable-container media-list">
      <a class="d-flex" href="javascript:void(0)">
        <div class="list-item d-flex align-items-start">
          <div class="list-item-body flex-grow-1">
            <small class="notification-text">You currently don't have any notification. Check back in a few.</small>
          </div>
        </div>
      </a>
    </li>
  </ul>
{% endif %}

