{% extends 'views/layouts/contentLayoutMaster.html.twig' %}

{% block title %}
  {{ 'Permission' }}
{% endblock %}

{% block vendor_style %}
  <link rel="stylesheet" href="{{ asset('vendors/css/forms/select/select2.min.css') }}">
{% endblock %}
{% block page_style %}
  <link rel="stylesheet" href="{{ asset('css/base/plugins/forms/form-validation.css') }}">
{% endblock %}

{% block content %}
  <h3>Add Message</h3>
  <p>Add a new unit of case-by-case access</p>

  <div class="card">
    <div class="card-header">
      <h4 class="card-title">Message :</h4>
    </div>
    <div class="card-body">
      {{ form_start(form,{'attr':{'novalidate':'novalidate'}},{'method': 'POST'}) }}
      <div class="row">
        <div class="col-md-6 col-12">
          {{ form_row(form.content) }}
        </div>
        <div class="col-md-6 col-12">
          {{ form_row(form.Relat) }}
        </div>
        <div class="col-md-6 col-12">
          {{ form_row(form.sens) }}
        </div>
        <div class="col-md-6 col-12 d-flex justify-content-end">
          {{ form_widget(form.Ajouter) }}
        </div>
      </div>
      {{ form_end(form) }}
    </div>

  </div>

{% endblock %}

{% block vendor_script %}
  <script src="{{ asset('vendors/js/forms/validation/jquery.validate.min.js') }}"></script>
  <script src="{{ asset('vendors/js/forms/select/select2.full.min.js') }}"></script>

{% endblock %}
{% block page_script %}
  <script src="{{ asset('js/scripts/pages/app-access-permission.js') }}"></script>
  <script src="{{ asset('js/scripts/forms/form-select2.js') }}"></script>
{% endblock %}
