<!DOCTYPE html>
{% set configData = configData.applClasses %}
<html class="loading {{ (configData['theme'] == "light") ? "" : configData["layoutTheme"] }}"
      data-textdirection="ltr"
    {% if configData['theme'] == 'dark' %} data-layout="dark-layout"{% endif %}>

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=0,minimal-ui">
  <meta name="description"
        content="ESPRITx is the one-stop-shop platforming solution for all your ESPRIT needs. ">
  <meta name="keywords"
        content="admin template, Vuexy admin template, dashboard template, flat admin template, responsive admin template, web app">
  <meta name="author" content="PIXINVENT">
  <title>{% block title %}{% endblock %} - ESPRITx</title>
  <link rel="apple-touch-icon" href="{{ asset('images/ico/apple-icon-120.png') }}">
  <link rel="shortcut icon" type="image/x-icon" href="{{ asset('images/logo/favicon.ico') }}">
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;1,400;1,500;1,600"
        rel="stylesheet">

  {% include 'views/panels/styles.html.twig' %}
  {% block page_style %}{% endblock %}
</head>


<body
    class="vertical-layout vertical-menu-modern {{ configData['bodyClass'] }} {{ (configData['theme'] == 'dark') ? 'dark-layout' : '' }} {{ configData['blankPageClass'] }} blank-page"
    data-menu="vertical-menu-modern"
    data-col="blank-page"
    data-framework="laravel"
    data-asset-path="{{ asset('/manifest.json') }}">

<!-- BEGIN: Content-->
<div class="app-content content {{ configData['pageClass'] }}">
  <div class="content-overlay"></div>
  <div class="header-navbar-shadow"></div>

  <div class="content-wrapper">
    <div class="content-body">

      {# Include Startkit Content #}
      {% block content %}{% endblock %}

    </div>
  </div>
</div>
<!-- End: Content-->

{# include default scripts #}
{% include 'views/panels/scripts.html.twig' %}
{% block vendor_script %}{% endblock %}


{% block page_script %}{% endblock %}

<script type="text/javascript">
    $(window).on('load', function () {
        if (feather) {
            feather.replace({
                width: 14,
                height: 14
            });
        }
    })
</script>

</body>

</html>
