{% if configData['mainLayoutType'] == 'horizontal' and configData['mainLayoutType'] is defined %}
<nav
    class="header-navbar navbar-expand-lg navbar navbar-fixed align-items-center navbar-shadow navbar-brand-center {{ configData['navbarColor'] }}"
    data-nav="brand-center">
  <div class="navbar-header d-xl-block d-none">
    <ul class="nav navbar-nav">
      <li class="nav-item">
        {# {{ path('/') }} #}
        <a class="navbar-brand" href="#">
            <span class="brand-logo">
              <img class="img-fluid" style="width: 80px;" src="{{ asset('images/pages/Logo.png') }}" alt="Logo"/></span>
          <h2 class="brand-text mb-0">EspritX</h2>
        </a>
      </li>
    </ul>
  </div>
  {% else %}
  <nav
      class="header-navbar navbar navbar-expand-lg align-items-center {{ configData['navbarClass'] }} navbar-light navbar-shadow {{ configData['navbarColor'] }} {{ (configData['layoutWidth'] == 'boxed' and configData['verticalMenuNavbarType'] == 'navbar-floating') ? 'container-xxl' : '' }}">
    {% endif %}
    <div class="navbar-container d-flex content">
      <div class="bookmark-wrapper d-flex align-items-center">
        <ul class="nav navbar-nav d-xl-none">
          <li class="nav-item"><a class="nav-link menu-toggle" href="javascript:void(0);"><i class="ficon"
                                                                                             data-feather="menu"></i></a>
          </li>
        </ul>
        <ul class="nav navbar-nav bookmark-icons">
          {# {{ path('app/email') }} #}
          <li class="nav-item d-none d-lg-block"><a class="nav-link" href="{{ path('app-email') }}"
                                                    data-bs-toggle="tooltip" data-bs-placement="bottom" title="Email"><i
                  class="ficon"
                  data-feather="mail"></i></a></li>
          {# {{ {{ path('app/chat') }} }} #}
          <li class="nav-item d-none d-lg-block"><a class="nav-link" href="{{ path('chat_index') }}"
                                                    data-bs-toggle="tooltip" data-bs-placement="bottom" title="Chat"><i
                  class="ficon"
                  data-feather="message-square"></i></a></li>
          {# {{ path('app/calendar') }} #}
          <li class="nav-item d-none d-lg-block"><a class="nav-link" href="{{ path('all_events_data') }}"
                                                    data-bs-toggle="tooltip" data-bs-placement="bottom"
                                                    title="Calendar"><i class="ficon"
                                                                        data-feather="calendar"></i></a></li>
          {# {{ path('app/todo') }} #}
          <li class="nav-item d-none d-lg-block"><a class="nav-link" href="{{ path('app-todo') }}"
                                                    data-bs-toggle="tooltip" data-bs-placement="bottom" title="Todo"><i
                  class="ficon"
                  data-feather="check-square"></i></a></li>
        </ul>
        <ul class="nav navbar-nav">
          <li class="nav-item d-none d-lg-block">
            <a class="nav-link bookmark-star">
              <i class="ficon text-warning" data-feather="star"></i>
            </a>
            <div class="bookmark-input search-input">
              <div class="bookmark-input-icon">
                <i data-feather="search"></i>
              </div>
              <input class="form-control input" type="text" placeholder="Bookmark" tabindex="0" data-search="search">
              <ul class="search-list search-list-bookmark"></ul>
            </div>
          </li>
        </ul>
      </div>
      <ul class="nav navbar-nav align-items-center ms-auto">
        <li class="nav-item d-none d-lg-block"><a class="nav-link nav-link-style">
            <i class="ficon" data-feather="{{ (configData['theme'] == 'dark') ? 'sun' : 'moon' }}"></i></a>
        </li>
        <li class="nav-item nav-search"><a class="nav-link nav-link-search"><i class="ficon"
                                                                               data-feather="search"></i></a>
          <div class="search-input">
            <div class="search-input-icon"><i data-feather="search"></i></div>
            <input class="form-control input" type="text" placeholder="Search..." tabindex="-1" data-search="search">
            <div class="search-input-close"><i data-feather="x"></i></div>
            <ul class="search-list search-list-main"></ul>
          </div>
        </li>
        {% if app.user %}
          <li class="nav-item dropdown dropdown-notification me-25">
            <a class="nav-link" href="javascript:void(0);" data-bs-toggle="dropdown">
              <i class="ficon" data-feather="bell"></i>
              <script>
                  const notifications = {
                      __count: {{ mgilet_notification_unseen_count(app.user) }},
                      update() {
                          $("span.unread-notifications-count").text(this.__count);
                      },
                      get unread_count() {
                          return this.__count;
                      },
                      set unread_count(count) {
                          this.__count = count;
                          this.update(this.__count);
                      }
                  };
              </script>
              {% if mgilet_notification_unseen_count(app.user) > 0 %}
                <span
                    class="badge rounded-pill bg-danger badge-up unread-notifications-count">{{ mgilet_notification_unseen_count(app.user) }}</span>
              {% endif %}
            </a>
            {{ mgilet_notification_render(app.user, { 'template': 'views/content/_partials/_fragments/notifications-dropdown.html.twig'}) }}
          </li>
          <li class="nav-item dropdown dropdown-user">
            <a class="nav-link dropdown-toggle dropdown-user-link" id="dropdown-user" href="javascript:void(0);"
               data-bs-toggle="dropdown" aria-haspopup="true">
              <div class="user-nav d-sm-flex d-none">
          <span class="user-name fw-bolder">
            {{ app.user.firstName ~ " " ~ app.user.lastName }}
          </span>
                <div class="d-flex user-status">
                  {% for group in app.user.groups %}
                    {{ include('views/content/_partials/_fragments/group-type-badge.html.twig',
                      {'grouptype': group.groupType, 'displayname': (app.user.groups.count > 1) ? "" : group.displayName } ) }}
                  {% endfor %}
                </div>
              </div>
              {% include "views/content/_partials/_fragments/user-avatar.html.twig" with {'user': app.user} %}
            </a>
            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdown-user">
              <h6 class="dropdown-header">Manage Profile</h6>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item"
                 href="{{ url('show_my_profile') }}">
                <i class="me-50" data-feather="user"></i> Profile
              </a>

              <a class="dropdown-item" href="{{ url("account_settings") }}">
                <i class="me-50" data-feather="settings"></i> Settings
              </a>

              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="{{ path('app_logout') }}">
                <i class="me-50" data-feather="power"></i> Logout
              </a>
            </div>
          </li>
        {% endif %}
      </ul>
    </div>
  </nav>

  {# Search Start Here #}
  <ul class="main-search-list-defaultlist d-none">
    <li class="d-flex align-items-center">
      <a href="javascript:void(0);">
        <h6 class="section-label mt-75 mb-0">Files</h6>
      </a>
    </li>
    <li class="auto-suggestion">
      {# {{ path('app/file-manager') }} #}
      <a class="d-flex align-items-center justify-content-between w-100" href="{{ path('app-file-manage') }}">
        <div class="d-flex">
          <div class="me-75">
            <img src="{{ asset('images/icons/xls.png') }}" alt="png" height="32">
          </div>
          <div class="search-data">
            <p class="search-data-title mb-0">Two new item submitted</p>
            <small class="text-muted">Marketing Manager</small>
          </div>
        </div>
        <small class="search-data-size me-50 text-muted">&apos;17kb</small>
      </a>
    </li>
    <li class="auto-suggestion">
      {# {{ path('app/file-manager') }} #}
      <a class="d-flex align-items-center justify-content-between w-100" href="{{ path('app-file-manage') }}">
        <div class="d-flex">
          <div class="me-75">
            <img src="{{ asset('images/icons/jpg.png') }}" alt="png" height="32">
          </div>
          <div class="search-data">
            <p class="search-data-title mb-0">52 JPG file Generated</p>
            <small class="text-muted">FontEnd Developer</small>
          </div>
        </div>
        <small class="search-data-size me-50 text-muted">&apos;11kb</small>
      </a>
    </li>
    <li class="auto-suggestion">
      {# {{ path('app/file-manager') }} #}
      <a class="d-flex align-items-center justify-content-between w-100" href="{{ path('app-file-manage') }}">
        <div class="d-flex">
          <div class="me-75">
            <img src="{{ asset('images/icons/pdf.png') }}" alt="png" height="32">
          </div>
          <div class="search-data">
            <p class="search-data-title mb-0">25 PDF File Uploaded</p>
            <small class="text-muted">Digital Marketing Manager</small>
          </div>
        </div>
        <small class="search-data-size me-50 text-muted">&apos;150kb</small>
      </a>
    </li>
    <li class="auto-suggestion">
      {# {{ path('app/file-manager') }} #}
      <a class="d-flex align-items-center justify-content-between w-100" href="{{ path('app-file-manage') }}">
        <div class="d-flex">
          <div class="me-75">
            <img src="{{ asset('images/icons/doc.png') }}" alt="png" height="32">
          </div>
          <div class="search-data">
            <p class="search-data-title mb-0">Anna_Strong.doc</p>
            <small class="text-muted">Web Designer</small>
          </div>
        </div>
        <small class="search-data-size me-50 text-muted">&apos;256kb</small>
      </a>
    </li>
    <li class="d-flex align-items-center">
      <a href="javascript:void(0);">
        <h6 class="section-label mt-75 mb-0">Members</h6>
      </a>
    </li>
    <li class="auto-suggestion">
      {# {{ path('app/user/view') }} #}
      <a class="d-flex align-items-center justify-content-between py-50 w-100"
         href="{{ path('app-user-view-account') }}">
        <div class="d-flex align-items-center">
          <div class="avatar me-75">
            <img src="{{ asset('images/portrait/small/avatar-s-8.jpg') }}" alt="png" height="32">
          </div>
          <div class="search-data">
            <p class="search-data-title mb-0">John Doe</p>
            <small class="text-muted">UI designer</small>
          </div>
        </div>
      </a>
    </li>
    <li class="auto-suggestion">
      {# {{ path('app/user/view') }} #}
      <a class="d-flex align-items-center justify-content-between py-50 w-100"
         href="{{ path('app-user-view-account') }}">
        <div class="d-flex align-items-center">
          <div class="avatar me-75">
            <img src="{{ asset('images/portrait/small/avatar-s-1.jpg') }}" alt="png" height="32">
          </div>
          <div class="search-data">
            <p class="search-data-title mb-0">Michal Clark</p>
            <small class="text-muted">FontEnd Developer</small>
          </div>
        </div>
      </a>
    </li>
    <li class="auto-suggestion">
      {# {{ path('app/user/view') }} #}
      <a class="d-flex align-items-center justify-content-between py-50 w-100"
         href="{{ path('app-user-view-account') }}">
        <div class="d-flex align-items-center">
          <div class="avatar me-75">
            <img src="{{ asset('images/portrait/small/avatar-s-14.jpg') }}" alt="png" height="32">
          </div>
          <div class="search-data">
            <p class="search-data-title mb-0">Milena Gibson</p>
            <small class="text-muted">Digital Marketing Manager</small>
          </div>
        </div>
      </a>
    </li>
    <li class="auto-suggestion">
      {# {{ path('app/user/view') }} #}
      <a class="d-flex align-items-center justify-content-between py-50 w-100"
         href="{{ path('app-user-view-account') }}">
        <div class="d-flex align-items-center">
          <div class="avatar me-75">
            <img src="{{ asset('images/portrait/small/avatar-s-6.jpg') }}" alt="png" height="32">
          </div>
          <div class="search-data">
            <p class="search-data-title mb-0">Anna Strong</p>
            <small class="text-muted">Web Designer</small>
          </div>
        </div>
      </a>
    </li>
  </ul>

  {# if main search not found! #}
  <ul class="main-search-list-defaultlist-other-list d-none">
    <li class="auto-suggestion justify-content-between">
      <a class="d-flex align-items-center justify-content-between w-100 py-50">
        <div class="d-flex justify-content-start">
          <span class="me-75" data-feather="alert-circle"></span>
          <span>No results found.</span>
        </div>
      </a>
    </li>
  </ul>
  {# Search Ends #}
  <!-- END: Header-->
