{% extends 'views/layouts/contentLayoutMaster.html.twig' %}

{% block title %} Account {% endblock %}

{% block vendor_style %}
  <!-- vendor css files -->
  <link rel='stylesheet' href="{{ asset('vendors/css/forms/select/select2.min.css') }}">
  <link rel='stylesheet' href="{{ asset('vendors/css/animate/animate.min.css') }}">
  <link rel='stylesheet' href="{{ asset('vendors/css/extensions/sweetalert2.min.css') }}">
{% endblock %}

{% block page_style %}
  <!-- Page css files -->
  <link rel="stylesheet" href="{{ asset('css/base/plugins/extensions/ext-component-sweet-alerts.css') }}">
  <link rel="stylesheet" href="{{ asset('css/base/plugins/forms/form-validation.css') }}">
{% endblock %}


{% block content %}
<div class="row">
  <div class="col-12">
    <ul class="nav nav-pills mb-2">
      <!-- Account -->
      <li class="nav-item">
        <a class="nav-link active" href="{{ path('account_settings') }}">
          <i data-feather="user" class="font-medium-3 me-50"></i>
          <span class="fw-bold">Account</span>
        </a>
      </li>
      <!-- security -->
      <li class="nav-item">
        <a class="nav-link" href="{{ path('account_password') }}">
          <i data-feather="lock" class="font-medium-3 me-50"></i>
          <span class="fw-bold">Security</span>
        </a>
      </li>
      <!-- billing and plans -->
      {#  <li class="nav-item">
        <a class="nav-link" href="{{asset('page/account-settings-billing')}}">
          <i data-feather="bookmark" class="font-medium-3 me-50"></i>
          <span class="fw-bold">Billings &amp; Plans</span>
        </a>
      </li>#}
      <!-- notification -->
      <li class="nav-item">
        <a class="nav-link" href="#">
          <i data-feather="bell" class="font-medium-3 me-50"></i>
          <span class="fw-bold">Notifications</span>
        </a>
      </li>
      <!-- connection -->
      {# <li class="nav-item">
        <a class="nav-link" href="{{asset('page/account-settings-connections')}}">
          <i data-feather="link" class="font-medium-3 me-50"></i>
          <span class="fw-bold">Connections</span>
        </a>
      </li>#}
    </ul>

    <!-- profile -->
    <div class="card">
      <div class="card-header border-bottom">
        <h4 class="card-title">Profile Details</h4>
      </div>
      <div class="card">
        <div class="card-header">
          <h4 class="card-title">User Details</h4>
        </div>
        <div class="card-body">
          {{ form_start(form, {'attr':{'novalidate':'novalidate', 'method': 'POST'}} ) }}
          <div class="row">

            <div class="col-md-12 col-12 d-flex justify-content-between align-items-center mb-2">
              {% include "views/content/_partials/_fragments/user-avatar.html.twig" with {'user': user, 'size': 'xl'} %}

              {% if form.avatarFile.delete is defined %}
                {{ form_widget(form.avatarFile.file, {'attr': {'class': 'mx-2'}}) }}
                {{ form_widget(form.avatarFile.delete) }}
              {% else %}
                {{ form_widget(form.avatarFile.file, {'attr': {'class': 'ms-2'}}) }}
              {% endif %}
            </div>


            <div class="col-md-6 col-12">
              {{ form_row(form.first_name) }}
            </div>
            <div class="col-md-6 col-12">
              {{ form_row(form.last_name) }}
            </div>

            <div class="col-md-6 col-12">
              {{ form_row(form.phoneNumber) }}
            </div>

            <div class="col-md-6 col-12">
              {{ form_row(form.identityType) }}
            </div>
            <div class="col-md-6 col-12">
              {{ form_row(form.identityDocumentNumber) }}
            </div>
            <div class="col-md-6 col-12">
              &nbsp;
            </div>
            <div class="d-flex justify-content-end gap-1 mt-1">
              {{ form_widget(form.reset) }}
              {{ form_widget(form.save) }}
            </div>
          </div>
          {{ form_end(form) }}
        </div>

      </div>
    </div>

    <!-- deactivate account  -->
    <div class="card">
      <div class="card-header border-bottom">
        <h4 class="card-title">Delete Account</h4>
      </div>
      <div class="card-body py-2 my-25">
        <div class="alert alert-warning">
          <h4 class="alert-heading">Are you sure you want to delete your account?</h4>
          <div class="alert-body fw-normal">
            Once you delete your account, there is no going back. Please be certain.
          </div>
        </div>

        <form id="formAccountDeactivation" class="validate-form" onsubmit="return false">
          <div class="form-check">
            <input
              class="form-check-input"
              type="checkbox"
              name="accountActivation"
              id="accountActivation"
              data-msg="Please confirm you want to delete account"
            />
            <label class="form-check-label font-small-3" for="accountActivation">
              I confirm my account deactivation
            </label>
          </div>
          <div>
            <button type="submit" class="btn btn-danger deactivate-account mt-1">Deactivate Account</button>
          </div>
        </form>
      </div>
    </div>
    <!--/ profile -->
  </div>
</div>
{% endblock %}


{% block vendor_script %}
  <!-- vendor files -->
  <script src="{{ asset('vendors/js/forms/select/select2.full.min.js') }}"></script>
  <script src="{{ asset('vendors/js/extensions/sweetalert2.all.min.js') }}"></script>
  <script src="{{ asset('vendors/js/forms/validation/jquery.validate.min.js') }}"></script>
  <script src="{{ asset('vendors/js/forms/cleave/cleave.min.js') }}"></script>
  <script src="{{ asset('vendors/js/forms/cleave/addons/cleave-phone.us.js') }}"></script>
{% endblock %}

{% block page_script %}
  <!-- Page js files -->
  <script src="{{ asset('js/scripts/pages/page-account-settings-account.js') }}"></script>
{% endblock %}

