{% extends 'views/layouts/contentLayoutMaster.html.twig' %}

{% block title %}
  {{ 'Manage a User' }}
{% endblock %}

{% block vendor_style %}
  <link rel="stylesheet" href="{{ asset('vendors/css/forms/select/select2.min.css') }}">
{% endblock %}
{% block page_style %}
  <link rel="stylesheet" href="{{ asset('css/base/plugins/forms/form-validation.css') }}">
{% endblock %}

{% block content %}
  <h3>Manage User</h3>
  <p>Fill the form below to populate your user data.</p>

  <div class="card">
    <div class="card-header">
      <h4 class="card-title">User Details</h4>
    </div>
    <div class="card-body">
      {{ form_start(form, {'attr':{'novalidate':'novalidate', 'method': 'POST'}} ) }}
      <div class="row">

        <div class="col-md-12 col-12 d-flex justify-content-between align-items-center mb-2">
          {% include "views/content/_partials/_fragments/user-avatar.html.twig" with {'user': user, 'size': 'xl'} %}

          {% if form.avatarFile.delete is defined %}
            {{ form_widget(form.avatarFile.file, {'attr': {'class': 'mx-2'}}) }}
            {{ form_widget(form.avatarFile.delete) }}
          {% else %}
            {{ form_widget(form.avatarFile.file, {'attr': {'class': 'ms-2'}}) }}
          {% endif %}
        </div>


        <div class="col-md-6 col-12">
          {{ form_row(form.first_name) }}
        </div>
        <div class="col-md-6 col-12">
          {{ form_row(form.last_name) }}
        </div>

        <div class="col-md-6 col-12">
          {{ form_row(form.phoneNumber) }}
        </div>
        <div class="col-md-6 col-12">
          {{ form_row(form.email) }}
        </div>

        <div class="col-md-6 col-12">
          {{ form_row(form.identityType) }}
        </div>
        <div class="col-md-6 col-12">
          {{ form_row(form.identityDocumentNumber) }}
        </div>

        <div class="col-md-6 col-12">
          {{ form_row(form.userStatus) }}
        </div>
        <div class="col-md-6 col-12">
          {{ form_row(form.class) }}
        </div>
        <div class="col-md-6 col-12">
          {{ form_row(form.groups) }}
        </div>
        <div class="col-md-6 col-12">
          {{ form_row(form.individualPermissions) }}
        </div>
        <div class="col-md-6 col-12">
          {% if user.password is empty %}
            {{ form_row(form.plainPassword, {"attr" : { "placeholder" : "Choose something strong and memorable." }}) }}
          {% else %}
            {{ form_row(form.plainPassword, {"attr" : { "placeholder" : "Leave blank if unchanged." }}) }}
          {% endif %}
        </div>
        <div class="col-md-6 col-12">
          &nbsp;
        </div>
        <div class="d-flex justify-content-end gap-1 mt-1">
          {{ form_widget(form.reset) }}
          {{ form_widget(form.save) }}
        </div>
      </div>
      {{ form_end(form) }}
    </div>

  </div>

{% endblock %}

{% block vendor_script %}
  <script src="{{ asset('vendors/js/forms/validation/jquery.validate.min.js') }}"></script>
  <script src="{{ asset('vendors/js/forms/select/select2.full.min.js') }}"></script>

{% endblock %}
{% block page_script %}
  <script src="{{ asset('js/scripts/pages/app-access-permission.js') }}"></script>
  <script src="{{ asset('js/scripts/forms/form-select2.js') }}"></script>
{% endblock %}
