{% extends 'views/layouts/contentLayoutMaster.html.twig' %}

{% block title%}{% endblock %}

{% block vendor_style %}
    <link rel="stylesheet" href="{{ asset('vendors/css/calendars/fullcalendar.min.css') }}">
    <link rel="stylesheet" href="{{ asset('vendors/css/forms/select/select2.min.css') }}">
    <link rel="stylesheet" href="{{ asset('vendors/css/pickers/flatpickr/flatpickr.min.css') }}">
{% endblock %}


{% block page_style %}
    <link rel="stylesheet" href="{{ asset('css/base/plugins/forms/pickers/form-flat-pickr.css') }}">
    <link rel="stylesheet" href="{{ asset('css/base/pages/app-calendar.css') }}">
    <link rel="stylesheet" href="{{ asset('css/base/plugins/forms/form-validation.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.13.3/css/selectize.css" 
    integrity="sha512-85w5tjZHguXpvARsBrIg9NWdNy5UBK16rAL8VWgnWXK2vMtcRKCBsHWSUbmMu0qHfXW2FVUDiWr6crA+IFdd1A==" 
    crossorigin="anonymous" referrerpolicy="no-referrer" />
{% endblock %}


{% block content %}
    <section>
    {% for label, messages in app.flashes %}
    {% for message in messages %}
        <div class="alert alert-{{ label }}">
            {{ message }}
        </div>
    {% endfor %}
{% endfor %}
        <div class="app-calendar overflow-hidden border">
            <div class="row g-0">

                <div class="col app-calendar-sidebar flex-grow-0 overflow-hidden d-flex flex-column" id="app-calendar-sidebar">
                    <div class="sidebar-wrapper">
                        <div class="card-body d-flex justify-content-center">
                            <button class="btn btn-info text-white btn-toggle-sidebar w-100" >
                                <a href="{{ path('addNewEvent') }}">
                                    <span class="align-middle">Add Event</span>
                                </a>
                            </button>
                        </div>
                        <div class="card-body d-flex justify-content-center">
                            <button class="btn btn-info text-white btn-toggle-sidebar w-100" >
                                <a href="{{ path('indexCall') }}">
                                    <span class="align-middle">Show calls</span>
                                </a>
                            </button>
                            
                        </div>
                        <div class="card-body pb-0">

                            <h5 class="section-label mb-1">
                                <span class="align-middle">Filter</span>
                            </h5>
                            <div class="form-check mb-1">
                                <input type="checkbox" class="form-check-input select-all" id="select-all" checked />
                                <label class="form-check-label" for="select-all">View All</label>
                            </div>
                            <div class="calendar-events-filter">
                                <div class="form-check form-check-danger mb-1">
                                    <input
                                            type="checkbox"
                                            class="form-check-input input-filter"
                                            id="personal"
                                            data-value="personal"
                                            checked
                                    />
                                    <label class="form-check-label" for="personal">Personal</label>
                                </div>
                                <div class="form-check form-check-primary mb-1">
                                    <input
                                            type="checkbox"
                                            class="form-check-input input-filter"
                                            id="business"
                                            data-value="business"
                                            checked
                                    />
                                    <label class="form-check-label" for="business">Business</label>
                                </div>
                                <div class="form-check form-check-warning mb-1">
                                    <input type="checkbox" class="form-check-input input-filter" id="family" data-value="family" checked />
                                    <label class="form-check-label" for="family">Family</label>
                                </div>
                                <div class="form-check form-check-success mb-1">
                                    <input
                                            type="checkbox"
                                            class="form-check-input input-filter"
                                            id="holiday"
                                            data-value="holiday"
                                            checked
                                    />
                                    <label class="form-check-label" for="holiday">Holiday</label>
                                </div>
                                <div class="form-check form-check-info">
                                    <input type="checkbox" class="form-check-input input-filter" id="etc" data-value="etc" checked />
                                    <label class="form-check-label" for="etc">ETC</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="mt-auto">
                        <img
                                src="{{asset('images/pages/calendar-illustration.png')}}"
                                alt="Calendar illustration"
                                class="img-fluid"
                        />
                    </div>
                </div>

                <div class="col position-relative">
                    <div class="card shadow-none border-0 mb-0 rounded-0">
                        <div class="card-body pb-0">
                            <div id="calendar">

                            </div>


                        </div>
                    </div>
                </div>

                <div class="body-content-overlay"></div>
            </div>
        </div>
        

    </section>

    <script>
        
        window.onload= () => {
            let calendarElt = document.getElementById("calendar")

            let calendar = new FullCalendar.Calendar(calendarElt,{
                initialView: 'dayGridMonth',
                dayMaxEventRows: true,
                locale: 'fr',
                timeZone: 'Europe/Paris',
                headerToolbar: {
                    start: 'prev,next,today',
                    center: 'title',
                    end:'dayGridMonth,timeGridWeek'
                },
                events: {{ event | raw }} ,
                editable: false,
                eventResizableFromStart: true,
                selectable:true,
                
                eventClick: function(info) {
                    console.log(info)
                    Swal.fire({
                    title: info.event.title,
                    icon: 'info',
                    html:
                        info.event.extendedProps.description +' <br>'+
                        'Vous pouvez ' +
                        '<a href="/event/'+info.event.id+'/edit"><b>Modfier</b></a> <br>' +
                        '<a href="/event/'+info.event.id+'/delete"><b>Supprimer</b></a> <br>', 
                    })
                    }
                   

            })
            let today = new Date();
            calendar.on('eventChange',(e)=> {
                console.log("event change",e)
                let url = `/api/${e.event.id}/edit`
                let donnees = {
                    "title": e.event.title,
                    "description":e.event.extendedProps.description,
                    "start": e.event.start,
                    "end": e.event.end,
                    "allDay": e.event.allDay
                }
                
                if(donnees.start > today)
                {
                console.log("data to put in the calendar",donnees)
                let xhr = new XMLHttpRequest
                xhr.open("PUT",url)
                xhr.send(JSON.stringify(donnees))}
                else{
                    Swal.fire('Check start date again')
                }
            })
            
            calendar.render()

        }
    </script>
{% endblock %}


{% block vendor_script %}
    <script src="{{ asset('vendors/js/calendar/fullcalendar.min.js') }}"></script>
    <script src="{{ asset('vendors/js/extensions/moment.min.js') }}"></script>
    <script src="{{ asset('vendors/js/forms/select/select2.full.min.js') }}"></script>
    <script src="{{ asset('vendors/js/forms/validation/jquery.validate.min.js') }}"></script>
    <script src="{{ asset('vendors/js/pickers/flatpickr/flatpickr.min.js') }}"></script>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>

{% endblock %}


{% block page_script %}
<script src="https://cdn.jsdelivr.net/npm/fullcalendar-scheduler@5.10.2/main.min.js"
        integrity="sha256-YK3r7IQuHVY5YtEUbGuFMcwtIYCRtRKpZyMej0emzBc=" crossorigin="anonymous"></script>
       

{% endblock %}

