{% extends 'views/layouts/contentLayoutMaster.html.twig' %}

{% block title %} Tour {% endblock %}

{% block vendor_style %}
  <!-- vendor css files -->
  <link rel="stylesheet" href="{{ asset('vendors/css/extensions/tether-theme-arrows.css') }}">
  <link rel="stylesheet" href="{{ asset('vendors/css/extensions/tether.min.css') }}">
  <link rel="stylesheet" href="{{ asset('vendors/css/extensions/shepherd.min.css') }}">
{% endblock %}

{% block page_style %}
  <!-- Page css files -->
  <link rel="stylesheet" href="{{ asset('css/base/plugins/extensions/ext-component-tour.css') }}">
{% endblock %}


{% block content %}
<!-- Basic tour -->
<section id="basic-tour">
  <div class="row">
    <div class="col-sm-12">
      <div class="card">
        <div class="card-header">
          <h4 class="card-title">Tour</h4>
        </div>
        <div class="card-body">
          <div class="btn btn-outline-primary" id="tour">Start Tour</div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--/ Basic tour -->
{% endblock %}


{% block vendor_script %}
  <!-- vendor files -->
  <script src="{{ asset('vendors/js/extensions/tether.min.js') }}"></script>
  <script src="{{ asset('vendors/js/extensions/shepherd.min.js') }}"></script>
{% endblock %}


{% block page_script %}
  <!-- Page js files -->
  <script src="{{ asset('js/scripts/extensions/ext-component-tour.js') }}"></script>
{% endblock %}

