{% extends 'views/layouts/contentLayoutMaster.html.twig' %}
{% block title %} Chat Application {% endblock %}
{% block page_style %}
    <!-- Page css files -->
    <link rel="stylesheet" href="{{ asset('css/base/pages/app-chat.css') }}">
    <link rel="stylesheet" href="{{ asset('css/base/pages/app-chat-list.css') }}">
    <style>
        .default-sidebar {
            flex: 1 1 auto !important;
        }
    </style>
{% endblock %}
{% block content_sidebar %}
    {% include 'views/content/apps/chat/app-chat-sidebar-ajax.html.twig' %}
{% endblock %}
{% block content %}
    <div class="app-content">
        <div class="content-area-wrapper chat-application">
            <div class="content-overlay"></div>
            <div class="header-navbar-shadow"></div>
            <div class="sidebar-left">
                <div class="sidebar">
                    {% include 'views/content/apps/chat/app-chat-sidebar-ajax.html.twig' %}
                </div>
            </div>
            <div class="content-right">
                <div class="content-wrapper content-body">
                    <div class="body-content-overlay"></div>
                    <!-- Main chat area -->
                    <section class="chat-app-window">
                        <!-- To load Conversation -->
                        <div class="start-chat-area {{ (currentchannel.id ==-1) ? "" : "d-none" }}">
                            <div class="mb-1 start-chat-icon">
                                <i data-feather="message-square"></i>
                            </div>
                            <a id="1996" href="{{ url('create_channel_ajax') }}"><h4
                                        class="sidebar-toggle start-chat-text">Start Conversation</h4></a>
                        </div>
                        <!--/ To load Conversation -->
                        <!-- Active Chat -->
                        <div class="active-chat {{ (currentchannel.id != -1) ? "" : "d-none" }}">
                            <!-- Chat Header -->
                            {% if currentchannel.id!=-1 %}
                                {% set selecteduser=currentchannel.participants.0 %}
                                {% for parts in currentchannel.participants %}
                                    {% if parts != app.user %}{% set selecteduser = parts %}{% endif %}
                                {% endfor %}
                            {% endif %}
                            <div class="chat-navbar">
                                <header class="chat-header">
                                    <div class="d-flex align-items-center">
                                        <div class="sidebar-toggle d-block d-lg-none me-1">
                                            <i data-feather="menu" class="font-medium-5"></i>
                                        </div>
                                        {% if currentchannel.id!=-1 %}
                                            <div class="avatar avatar-border user-profile-toggle m-0 me-1">
                                                {% include "views/content/_partials/_fragments/user-avatar.html.twig" with {'user': selecteduser} %}
                                            </div> {% endif %}
                                        {% if currentchannel.id!=-1 %}     <h6
                                                class="mb-0">{{ selecteduser.firstName ~ " " ~ selecteduser.lastName }}</h6> {% endif %}
                                    </div>
                                    <div class="d-flex align-items-center">
                                        <i data-feather="phone-call"
                                           class="cursor-pointer d-sm-block d-none font-medium-2 me-1"></i>
                                        <i data-feather="video"
                                           class="cursor-pointer d-sm-block d-none font-medium-2 me-1"></i>
                                        <i data-feather="search"
                                           class="cursor-pointer d-sm-block d-none font-medium-2"></i>
                                        <div class="dropdown">
                                            <button
                                                    class="btn-icon btn btn-transparent hide-arrow btn-sm dropdown-toggle"
                                                    type="button"
                                                    data-bs-toggle="dropdown"
                                                    aria-haspopup="true"
                                                    aria-expanded="false"
                                            >
                                                <i data-feather="more-vertical" id="chat-header-actions"
                                                   class="font-medium-2"></i>
                                            </button>
                                            <div class="dropdown-menu dropdown-menu-end"
                                                 aria-labelledby="chat-header-actions">
                                                <a class="dropdown-item" href="#">View Contact</a>
                                                <a class="dropdown-item" href="#">Mute Notifications</a>
                                                <a class="dropdown-item" href="#">Block Contact</a>
                                                <a class="dropdown-item" href="#">Clear Chat</a>
                                                <a class="dropdown-item" href="#">Report</a>
                                            </div>
                                        </div>
                                    </div>
                                </header>
                            </div>
                            <!--/ Chat Header -->
                            <!-- User Chat messages -->
                            <!-- User Chat messages -->
                        </div>
                        <!--/ Active Chat -->
                    </section>
                    <!--/ Main chat area -->
                    <!-- User Chat profile right area -->
                    <div class="user-profile-sidebar">
                        <header class="user-profile-header">
                  <span class="close-icon">
                  <i data-feather="x"></i>
                  </span>
                            <!-- User Profile image with name -->
                            <div class="header-profile-sidebar">
                                <div class="avatar box-shadow-1 avatar-border avatar-xl">
                                    <img src="{{ asset('images/portrait/small/avatar-s-7.jpg') }}" alt="user_avatar"
                                         height="70"
                                         width="70"/>
                                    <span class="avatar-status-busy avatar-status-lg"></span>
                                </div>
                                <h4 class="chat-user-name">Kristopher Candy</h4>
                                <span class="user-post">UI/UX Designer 👩🏻‍💻</span>
                            </div>
                            <!--/ User Profile image with name -->
                        </header>
                        <div class="user-profile-sidebar-area">
                            <!-- About User -->
                            <h6 class="section-label mb-1">About</h6>
                            <p>Toffee caramels jelly-o tart gummi bears cake I love ice cream lollipop.</p>
                            <!-- About User -->
                            <!-- User's personal information -->
                            <div class="personal-info">
                                <h6 class="section-label mb-1 mt-3">Personal Information</h6>
                                <ul class="list-unstyled">
                                    <li class="mb-1">
                                        <i data-feather="mail" class="font-medium-2 me-50"></i>
                                        <span class="align-middle">kristycandy@email.com</span>
                                    </li>
                                    <li class="mb-1">
                                        <i data-feather="phone-call" class="font-medium-2 me-50"></i>
                                        <span class="align-middle">+1(123) 456 - 7890</span>
                                    </li>
                                    <li>
                                        <i data-feather="clock" class="font-medium-2 me-50"></i>
                                        <span class="align-middle">Mon - Fri 10AM - 8PM</span>
                                    </li>
                                </ul>
                            </div>
                            <!--/ User's personal information -->
                            <!-- User's Links -->
                            <div class="more-options">
                                <h6 class="section-label mb-1 mt-3">Options</h6>
                                <ul class="list-unstyled">
                                    <li class="cursor-pointer mb-1">
                                        <i data-feather="tag" class="font-medium-2 me-50"></i>
                                        <span class="align-middle">Add Tag</span>
                                    </li>
                                    <li class="cursor-pointer mb-1">
                                        <i data-feather="star" class="font-medium-2 me-50"></i>
                                        <span class="align-middle">Important Contact</span>
                                    </li>
                                    <li class="cursor-pointer mb-1">
                                        <i data-feather="image" class="font-medium-2 me-50"></i>
                                        <span class="align-middle">Shared Media</span>
                                    </li>
                                    <li class="cursor-pointer mb-1">
                                        <i data-feather="trash" class="font-medium-2 me-50"></i>
                                        <span class="align-middle">Delete Contact</span>
                                    </li>
                                    <li class="cursor-pointer">
                                        <i data-feather="slash" class="font-medium-2 me-50"></i>
                                        <span class="align-middle">Block Contact</span>
                                    </li>
                                </ul>
                            </div>
                            <!--/ User's Links -->
                        </div>
                    </div>
                    <!--/ User Chat profile right area -->
                </div>
            </div>
        </div>
    </div>


{% endblock %}
{% block page_script %}
    <!-- Page js files -->

    <script src="{{ asset('js/scripts/pages/app-chat.js') }}"></script>

{% endblock %}