{% extends 'views/layouts/contentLayoutMaster.html.twig' %}

{% block title %}
  {{ 'Ajout Service' }}
{% endblock %}

{% block vendor_style %}
  <link rel="stylesheet" href="{{ asset('vendors/css/tables/datatable/dataTables.bootstrap5.min.css') }}">
  <link rel="stylesheet" href="{{ asset('vendors/css/tables/datatable/responsive.bootstrap5.min.css') }}">
  <link rel="stylesheet" href="{{ asset('vendors/css/tables/datatable/buttons.bootstrap5.min.css') }}">
{% endblock %}
{% block page_style %}
  <!-- Page css files -->
  <link rel="stylesheet" href="{{ asset('css/base/plugins/forms/form-validation.css') }}">
  <style>
      *[id^='service_Other_Fields'] {
          display: flex;
          gap: 1rem;
      }
      *[id^='service_Other_Fields'] > .mb-2 {
          display: flex;
          align-items: center;
          margin-bottom: 0px!important;
      }
      *[id^='service_Other_Fields'] > .mb-2 > label {
          display: none;
      }
      .tags > div {
          display: flex;
          margin-bottom: 1rem;
      }
      .tags > div > fieldset {
          margin-bottom: 0px!important;
      }
  </style>
{% endblock %}

{% block content %}
  <h3>Add service</h3>
  <p>Specify the name of the service and the persons in charge as well as the beneficiaries of each service.</p>

  <div class="card">
    <div class="card-body">
      {{ form_start (form,{'attr':{'novalidate':'novalidate'}},{'method': 'POST'}) }}
      {{ form_row(form.Name) }}
      {{ form_row(form.Responsible) }}
      {{ form_row(form.Recipient) }}
      {{ form_label(form.Other_Fields) }}

      <div class="tags" data-index="{{ form.Other_Fields|length > 0 ? form.Other_Fields|last.vars.name + 1 : 0 }}"
           data-prototype="{{ form_row(form.Other_Fields.vars.prototype)|e('html_attr') }}">
      </div>
      <button type="button" class="btn-secondary btn mb-2" data-collection-holder-class="tags">Add new field</button>


      {{ form_row(form.Other_Fields, {'label': '<span class="glyphicon glyphicon-search" aria-hidden="true"></span>'}) }}

      <div class="float-end">
        {{ form_row(form.Add) }}
      </div>

      {{ form_end(form) }}
    </div>
  </div>

  {% include'views/content/_partials/_modals/modal-add-permission.html.twig' %}
  {% include'views/content/_partials/_modals/modal-edit-permission.html.twig' %}
{% endblock %}

{% block vendor_script %}
  <script src="{{ asset('vendors/js/tables/datatable/jquery.dataTables.min.js') }}"></script>
  <script src="{{ asset('vendors/js/tables/datatable/dataTables.bootstrap5.min.js') }}"></script>
  <script src="{{ asset('vendors/js/tables/datatable/dataTables.responsive.min.js') }}"></script>
  <script src="{{ asset('vendors/js/tables/datatable/responsive.bootstrap5.js') }}"></script>
  <script src="{{ asset('vendors/js/tables/datatable/datatables.buttons.min.js') }}"></script>
  <script src="{{ asset('vendors/js/tables/datatable/buttons.bootstrap5.min.js') }}"></script>
  <script src="{{ asset('vendors/js/forms/validation/jquery.validate.min.js') }}"></script>
{% endblock %}
{% block page_script %}
  <script src="{{ asset('js/scripts/pages/modal-add-permission.js') }}"></script>
  <script src="{{ asset('js/scripts/pages/modal-edit-permission.js') }}"></script>
  <script src="{{ asset('js/scripts/pages/app-access-permission.js') }}"></script>
  <script>
      jQuery(document).ready(function () {
          // Get the div that holds the collection of tags
          var $tagsCollectionHolder = $('div.tags');

          // Get the div that holds the collection of tags
          $collectionHolder = $('div.tags');

          // add a delete link to all of the existing tag form li elements
          $collectionHolder.find('li').each(function () {
              addTagFormDeleteLink($(this));
          });

          // count the current form inputs we have (e.g. 2), use that as the new
          // index when inserting a new item (e.g. 2)
          $tagsCollectionHolder.data('index', $tagsCollectionHolder.find('input').length);

          $('body').on('click', '.btn-secondary', function (e) {
              var $collectionHolderClass = $(e.currentTarget).data('collectionHolderClass');
              // add a new tag form (see next code block)
              addFormToCollection($collectionHolderClass);
          })
      });

      function addFormToCollection($collectionHolderClass) {
          // Get the ul that holds the collection of tags
          var $collectionHolder = $('.' + $collectionHolderClass);

          // Get the data-prototype explained earlier
          var prototype = $collectionHolder.data('prototype');

          // get the new index
          var index = $collectionHolder.data('index');

          var newForm = prototype;
          // You need this only if you didn't set 'label' => false in your tags field in TaskType
          // Replace '__name__label__' in the prototype's HTML to
          // instead be a number based on how many items we have
          // newForm = newForm.replace(/__name__label__/g, index);

          // Replace '__name__' in the prototype's HTML to
          // instead be a number based on how many items we have
          newForm = newForm.replace(/__name__/g, index);

          // increase the index with one for the next item
          $collectionHolder.data('index', index + 1);

          // Display the form in the page in an li, before the "Add a tag" link li
          var $newFormTr = $('<div></div>').append(newForm);
          // Add the new form at the end of the list
          $collectionHolder.append($newFormTr);
          addTagFormDeleteLink($newFormTr);
      }

      function addTagFormDeleteLink($tagFormLi) {
          var $removeFormButton = $('<button type="button" class="btn btn-outline-danger text-nowrap px-1 waves-effect">X</button>');
          $tagFormLi.append($removeFormButton);

          $removeFormButton.on('click', function (e) {
              // remove the li for the tag form
              $tagFormLi.remove();
          });
      }
  </script>
{% endblock %}
