{% extends 'views/layouts/fullLayoutMaster.html.twig' %}

{% block title %} Login Page {% endblock %}

{% block page_style %}
  <link rel="stylesheet" href="{{ asset('css/base/plugins/forms/form-validation.css') }}">
  <link rel="stylesheet" href="{{ asset('css/base/pages/authentication.css') }}">
{% endblock %}


{% block content %}
  <div class="auth-wrapper auth-cover">
    <div class="auth-inner row m-0">
      <!-- Brand logo-->
      <div class="brand-logo" style="width: 25%;height: 105px;">
        <img class="img-fluid" style="width: 80px;" src="{{ asset('images/pages/Logo.png') }}" alt="Logo"/>
        <h6 class="brand-text text-primary ms-1">Communiquer autrement</h6>
      </div>
      <!-- /Brand logo-->

      <!-- Left Text-->
      <div class="d-none d-lg-flex col-lg-8 align-items-center p-5">
        <div class="w-100 d-lg-flex align-items-center justify-content-center px-5">
          {% if(configData['theme'] == 'dark') %}
            <img class="img-fluid" src="{{ asset('images/pages/login-v2-dark.svg') }}" alt="Login V2"/>
          {% else %}
            <img class="img-fluid" src="{{ asset('images/pages/login-v2.svg') }}" alt="Login V2"/>
          {% endif %}
        </div>
      </div>
      <!-- /Left Text-->

      <!-- Login-->
      <div class="d-flex col-lg-4 align-items-center auth-bg px-2 p-lg-5">
        <div class="col-12 col-sm-8 col-md-6 col-lg-12 px-xl-2 mx-auto">
          <h2 class="card-title fw-bold mb-1">Welcome to ESPRITx! </h2>
          <p class="card-text mb-2">Please sign-in to your account and start the adventure</p>
          {% if error %}
            <div class="alert alert-danger py-2 px-1">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
          {% endif %}
          <form class="auth-login-form mt-2" method="post">
            <div class="mb-1">
              <label class="form-label" for="login-email">Email</label>
              <input class="form-control" id="login-email" type="text" name="username"
                     placeholder="test@esprit.tn" aria-describedby="login-email" autofocus="" tabindex="1"/>
            </div>
            <div class="mb-1">
              <div class="d-flex justify-content-between">
                <label class="form-label" for="login-password">Password</label>
                <a href="{{ url('app_forgot_password_request') }}">
                  <small>Forgot Password?</small>
                </a>
              </div>
              <div class="input-group input-group-merge form-password-toggle">
                <input class="form-control form-control-merge" id="login-password" type="password" name="password"
                       placeholder="路路路路路路路路路路路路" aria-describedby="login-password" tabindex="2"/>
                <span class="input-group-text cursor-pointer"><i data-feather="eye"></i></span>
              </div>
            </div>
            <input type="hidden" name="_csrf_token"
                   value="{{ csrf_token('authenticate') }}"
            >
            <div class="mb-1">
              <div class="form-check">
                <input class="form-check-input" id="remember-me" type="checkbox" tabindex="3"/>
                <label class="form-check-label" for="remember-me"> Remember Me</label>
              </div>
            </div>
            <button class="btn btn-primary w-100" tabindex="4">Sign in</button>
          </form>
          <p class="text-center mt-2">
            <span>New on our platform?</span>
            <a href="{{ url('app_register') }}"><span>&nbsp;Create an account</span></a>
          </p>
          <div class="divider my-2">
            <div class="divider-text">or</div>
          </div>
          <div class="auth-footer-btn d-flex justify-content-center">
            <a class="btn btn-google" href="{{ url('connect_google_start') }}"><i data-feather="mail"></i></a>
          </div>
        </div>
      </div>
      <!-- /Login-->
    </div>
  </div>
{% endblock %}


{% block vendor_script %}
  <script src="{{ asset('vendors/js/forms/validation/jquery.validate.min.js') }}"></script>
{% endblock %}


{% block page_script %}
  <script src="{{ asset('js/scripts/pages/auth-login.js') }}"></script>
{% endblock %}

